*.sln
*.userprefs
*.csproj
*.pidb
*.unityproj
.DS_Store
SpaceParasiteRunnerGame/Library/FileAssetImports.txt
SpaceParasiteRunnerGame/Library/cache
SpaceParasiteRunnerGame/Library/previews/
SpaceParasiteRunnerGame/Library/ScriptAssemblies
SpaceParasiteRunnerGame/obj
SpaceParasiteRunnerGame/Temp
SpaceParasiteRunnerGame/Assembly-CSharp-vs.csproj
SpaceParasiteRunnerGame/Assembly-CSharp-vs.csproj
*.csproj
SpaceParasiteRunnerGame/Library/assetDatabase3
SpaceParasiteRunnerGame/Library/CurrentLayout.dwlt
SpaceParasiteRunnerGame/Library/guidmapper
SpaceParasiteRunnerGame/Library/metadata/9b/9b7c1b6bad3425a4784523a830ee9745
SpaceParasiteRunnerGame/Library/metadata/87/87d5312e6ab2f33468c57c51b1056adb
SpaceParasiteRunnerGame/Library/assetDatabase3
SpaceParasiteRunnerGame/Library/assetDatabase3
*.dwlt
SpaceParasiteRunnerGame/Library/expandedItems
SpaceParasiteRunnerGame/Library/assetDatabase3
*.dwlt
*.dwlt
